


<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Username: <input name='name'></label>
  <input type='submit' value='login'>
<% end %>

<p><%= link_to "Retry login ", new_session_path %></p>